.homeSlice {
  .homeSlice-media{
    text-align: right;
  }
  .homeSlice-context {
    //position: absolute!important;
    top: 50%;
    //transform: translateY(-50%);
    transform: translateY(-25%);
    vertical-align: middle!important;

    h2 {
      font-size: 34px;
      font-weight: lighter;
    }

    .sub.header {
      font-size: 18px;
      //white-space: nowrap;
    }
  }
}