.homeSlice {
  .homeSlice-media{
    text-align: right;
  }

  .homeSlice-context {
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle!important;
    position: absolute!important;

    h2 {
      font-size: 34px;
      font-weight: lighter;
    }

    .sub.header {
      font-size: 18px;
      //white-space: nowrap;
    }

    .homeSlice-cta {
      button.homeSlice-cta--button {
        //width: 35%;
        margin: 1em auto;
        border-radius: 500px;
        text-transform: uppercase;
        min-width: 150px;
      }
    }
  }

  .right {
    right: 0;
  }

  .left {
    left: 0;
  }
}