.ui.fluid.container {
  padding: 0;
}

.header-message {
  .message-container {
    text-align: right;

    button.login-button {
      text-transform: uppercase;
      border-radius: 500px;
    }
  }
}

img.ui.image.iPhone7Plus-screen {
  position: absolute;
  top: 45px;
  height: 323px;
  z-index: -1;
  right: 23px;
}

.main-header {
  height: 500px;
  position: relative;

  @media only screen and (max-width: 770px) {
    .branding {
      top: 0!important;
      left: 0!important;
      transform: translate(0%,-50%)!important;
      white-space: normal;
    }
  }

  .branding {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    vertical-align: middle;
    max-width: 880px;
    white-space: nowrap;

    @media only screen and (max-width: 770px) {
      .iphone7PlusImage {
        .iPhone7Plus {
          visibility: hidden;
        }
      }
    }

    .iPhone7Plus {
      margin-left: auto;
      width: 200px; /* you can use % */
      height: auto;
    }

    .ctaContainer {
      position: relative;
      width: 100%;

      .cta {
        position: absolute;
        //top: 50%;
        //transform: translate(-0%,-50%);
        transform: translateY(50%);
        vertical-align: middle;

        .logo {
          font-size: 46px;
          font-weight: lighter;
        }

        .sub.header {
          font-size: 20px;
        }
      }
    }

    .cta >button.callToAction {
      //width: 35%;
      //margin: 1em auto;
      border-radius: 500px;
      text-transform: uppercase;
      min-width: 180px;
    }
  }
}

.ant-layout-content {
  flex: auto
}