.ui.container.login-container {
  padding-top: 20px;
  max-width: 450px!important;

  .login-header {
    padding: 0 0 20px 0;
  }

  .card {
    .login-signup-link.extra.content {
      span {
        a:hover {
          text-decoration: underline;
        }
      }
    }

    .content {
      .header {
        font-weight: lighter;
      }
    }
  }
}
