.interjection {
  padding: 20px 20px 20px 20px;

  .interjection-content {
    text-align: center;

    h2 {
      font-size: 34px;
      font-weight: lighter;
    }

    .sub.header {
      font-size: 18px;
    }
  }
}